@import "utility.css";

/* Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Main */

* {
    text-decoration: none;
    font-family: Libre Baskerville, Baskerville, serif;
    font-style: normal;
    font-weight: normal;
}

html {
    min-height: 100vh;
    height: 100%;
}

body {
    background-color: var(--medium-green);
    height: 100%;
    min-height: 100%;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

main {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Header */

.header__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    column-gap: 20px;
    margin: 0 50px;
    height: 75px;
}

.header__decoration-line {
    height: 20px;
}

h1 {
    font-family: First Order Light, fantasy;
    font-style: normal;
    font-weight: 300;
    font-size: var(--text-xxl);
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    grid-column: 1 / span 2;
    grid-row: 1;
    margin-left: 38px;
}

.header__logo-img {
    color: #decd31;
    grid-column: 1;
    height: 95px;
    grid-row: 1;
}

.header__navbar {
    grid-column: 7/13;
}

.header__navbar-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header__navbar-list a {
    text-decoration: none;
    font-family: First Order Plain, fantasy;
    font-style: normal;
    font-weight: normal;
    font-size: var(--text-l);
    line-height: 21px;
}


/* Footer */

.footer__container {
    height: 95px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    column-gap: 20px;
    margin: 0 50px;
    box-sizing: border-box;
}

.footer__brand {
    grid-column: 1 / span 2;
    margin: auto auto;

    font-family: First Order Light, fantasy;
    font-style: normal;
    font-weight: normal;
    font-size: var(--text-l);
    line-height: 26px;
}

.footer__nav {
    grid-column: 5 / span 7;
}

.footer__nav-list {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.footer__nav-list a {
    text-decoration: none;
    font-family: Libre Baskerville, Baskerville, serif;
    font-style: normal;
    font-weight: normal;
    font-size: var(--text-m);
}


/* Index page */


.index__container {
    width: 100%;
    min-height: 100vh;
}

.index__text-primary {
    background-image: url("../img/rivendell.jpg");
    background-position: 20%;
    background-size: 100%;
    background-repeat: no-repeat;

    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Libre Baskerville, Baskerville, serif;
    font-style: normal;
    font-weight: normal;
    font-size: var(--text-xxl);
    line-height: 60px;
    text-align: center;

    box-sizing: border-box;
}

.index__text-primary {
    padding: 0 25%;
}

.index__text-secondary {
    min-height: 24vh;
    font-family: Libre Baskerville, Baskerville, serif;
    font-style: normal;
    font-weight: normal;
    font-size: var(--text-l);
    line-height: 36px;
    padding: 20px 50px;
    display: flex;
}

.index__text-secondary > p {
    max-width: 50%;
}

.index__buttons {
    margin-left: 20px;
    width: 50%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


/* Register & login */

.register__main {
    margin: 20px 25%;
}

.register__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0 45px 0;
}

.register__field-label {
    display: flex;
    flex-direction: column;
    padding: 0 16.67% 25px 16.67%;
    width: 100%;
    box-sizing: border-box;
}

.register__field {
    margin-top: 5px;
    height: 48px;
    box-sizing: border-box;
    padding: 10px;

    border-radius: 5px;
    border: none;
    font-size: var(--text-l);

    background-color: var(--white);
    color: var(--black);
}

.register__footer a {
    text-decoration: underline;
}

.register__btn {
    margin-top: 20px;
}

.register__footer {
    max-width: 33%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.register__form-toggle {
    padding-top: 10px;
    box-sizing: border-box;
    background: none;
    border: none;
    color: var(--light-green);
    font-size: var(--text-m);
    text-decoration: underline;
    cursor: pointer;
}


/* Contact */

.contact__main {
    margin: 20px 50px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 12.5vh);
    grid-gap: 20px;
}

.contact__title {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    grid-column: 1/span 12;
}

.contact__main-content {

}

.contact__image {
    object-position: left top;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    height: 100%;

    grid-column: 9/span 4;
    grid-row: 2/span 6;

    border-radius: 5px;
}

.contact__text {
    display: flex;
    justify-content: space-between;
}

.contact__text-1 {
    grid-row: 2/span 2;
    grid-column: 1/span 8;
    font-size: var(--text-l);
}

.contact__text-2 {
    grid-row: 4/span 2;
    grid-column: 1/span 6;
}

.contact__text-3 {
    grid-row: 6/span 2;
    grid-column: 1/span 4;
}


/* Home */

.home__main-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(min(10rem, 100%), 1fr));
    grid-auto-rows: minmax(0, 28vh);
    grid-gap: 20px;
    margin: 20px 50px;
}

.home__article-full-width {
    grid-column: 1/span 3;

    display: grid;
    grid-template-rows: minmax(0, 28vh);
    grid-gap: 20px;

    background-color: var(--dark-green);
    color: var(--light-green);
    font-size: var(--text-l);
    border-radius: 5px;
    margin: 0;
    width: 100%;
}

.home__qotd {
    grid-row: 1;
    grid-template-columns: 2fr 1fr;
}

.home__qotd-image {
    grid-column: 2;
    grid-row: 1;

    height: 100%;
    max-width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.home__qotd-image-gradient {
    grid-column: 2;
    grid-row: 1;
    background: linear-gradient(
            90deg, var(--dark-green) 0%,
            rgba(196, 196, 196, 0) 100%);
}

.home__qotd-text {
    grid-column: 1;
    grid-row: 1;
}

.home__qotd-character {
    align-self: flex-end;
}

.home__qotd-title {
    font-variant: small-caps;
    font-size: var(--text-l);
}

.home__article-full-width-link {
    z-index: 2;
    grid-column: 1 /span 2;
    grid-row: 1;
}

.home__highlight {
    grid-row: 2;
    grid-template-columns: 1fr 2fr;
}

.home__highlight-title {
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    padding: 20px;

    font-variant: small-caps;
    font-size: var(--text-l);
    color: var(--white);
    text-shadow: -1px -1px 0 var(--black),
    1px -1px 0 var(--black),
    -1px 1px 0 var(--black),
    1px 1px 0 var(--black);
}

.home__article-full-width-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: var(--light-green);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.home__article-full-width-text .quote-text {
    font-size: var(--text-l);
}

.home__highlight-text {
    grid-column: 2;
    grid-row: 1;
}

.home__highlight-image {
    grid-column: 1;
    grid-row: 1;

    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.home__highlight-image-gradient {
    grid-column: 1;
    grid-row: 1;
    background: linear-gradient(
            -90deg, var(--dark-green) 0%,
            rgba(196, 196, 196, 0) 100%);
}

.home__highlight-more {
    align-self: flex-end;
    font-size: var(--text-m);
}

.home__quote-secondary {
    padding: 20px;
    background-color: var(--dark-green);
    border-radius: 5px;
    color: var(--light-green);

    display: grid;
}

.home__quote-secondary-text {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home__quote-secondary .quote-character {
    text-align: right;
    margin-bottom: 10px;
}

.home__quote-secondary-more {
    text-align: right;
}

.home__quote-secondary-link {
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
}


/* Character/film detail */

.detail__main {
    margin: 20px 50px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
}

.detail__data {
    grid-column: 1;
    font-size: var(--text-l);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    height: fit-content;
    min-height: calc(100vh - 135px);
}

.detail__data h2 {
    font-size: var(--text-xl);
}

.detail__data li {
    line-height: 2rem;
}

.detail__data li::before {
    content: "• ";
}

.detail__data-title {
    text-align: center;
    margin: 20px auto;
}

.detail__img-container {
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    clip-path: circle(40% at center);
}

.detail__img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.detail__items {
    grid-column: 2;
    counter-reset: items;
}

.detail__items-ordered p::before {
    counter-increment: items;
    content: counter(items) ". ";
}

.detail__items-ordered p::after {
    content: none;
}

.detail__items-title {
    color: var(--dark-green);
    font-size: var(--text-xl);
    margin-bottom: 20px;
}

.detail__item {
    padding: 20px;
    box-sizing: border-box;
    width: fit-content;
    max-width: 100%;
    margin: 20px 0;

    color: var(--light-green);
    font-size: var(--text-l);
    background-color: var(--dark-green);
    border-radius: 5px;
}

.detail__item:first-child {
    margin-top: 0;
}

.detail__item:last-child {
    margin-bottom: 0;
}

.quote-text::before {
    content: "“";
}

.quote-text::after {
    content: "”";
}

.detail__quote-character {
    text-align: right;
    font-size: var(--text-m);
    font-style: italic;
    margin-top: 10px;
}

.quote-character::before {
    content: "—";
}


/* Character/film list */

.list__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;

    min-height: 80vh;
}

.list__row-title {
    color: var(--dark-green);
    font-size: var(--text-xl);
    text-align: center;
    padding: 20px 0;
}

.list__row {
    width: 100%;
    display: flex;
}

.list__film-section {
    width: 100%;
}

.list__article {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: minmax(0, 28vh);
    grid-gap: 20px;

    background-color: var(--dark-green);
    color: var(--light-green);
    font-size: var(--text-l);

    border-radius: 5px;

    width: 33.33%;
    margin: 10px;
}

.list__article-title {
    grid-column: 1;
    grid-row: 1;
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
}

.list__article img {
    grid-column: 2;
    grid-row: 1;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    box-sizing: border-box;
}

.list__article-img-gradient {
    grid-column: 2;
    grid-row: 1;
    background: linear-gradient(
            90deg, var(--dark-green) 0%,
            rgba(196, 196, 196, 0) 100%);
}

.list__main-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(min(10rem, 100%), 1fr));
    grid-gap: 20px;
    margin: 20px 50px;
}

.list__article-character {
    margin: 0;
    width: 100%;
}

.list__article-link {
    grid-column: 1/span 2;
    grid-row: 1;
}

/* 404 */

.not-found__main {
    display: flex;
    flex-direction: column;
    font-size: var(--text-l);
    align-items: center;
    color: var(--light-blue);
    padding: 20px 0;
}


.not-found__main h2 {
    font-size: var(--text-xl);
}

.not-found__main-animation {
    margin: 20px auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    mask: url('/img/logo.svg');
}

.not-found__main-animation-bg {
    grid-column: 1;
    grid-row: 1;
}

.not-found__main-animation-fg {
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    animation: fade 5s infinite;
}

@keyframes fade {
    0% {
        opacity: 100%;
        -webkit-filter: none;
        filter: none;
        transform: scale(1, 1);
    }
    50% {
        opacity: 80%;
        -webkit-filter: drop-shadow(0px 0px 8px #FF7D29);
        filter: drop-shadow(0px 0px 8px #FF7D29);
        transform: scale(1.005, 1.005);
    }
    100% {
        opacity: 100%;
        -webkit-filter: none;
        filter: none;
        transform: scale(1, 1);
    }
}

.not-found__main-text {
    grid-column: 1;
    grid-row: 1;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gold);
}

/* Tablet-specific styles */

@media screen and (max-width: 992px) {
    .header__navbar {
        grid-column: 5/13;
    }
}


/* Mobile-specific styles */

@media screen and (max-width: 768px) {

    /* Header */
    .header__container {
        grid-template-columns: repeat(4, 1fr);
        margin: 0 16px;
    }

    .header__navbar {
        display: none;
    }

    h1 {
        font-size: var(--text-xl);
    }


    /* Footer */
    .footer__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;
        padding: 20px 16px;
        margin: 0;
    }

    .footer__nav-list {
        flex-direction: column;
    }

    .footer__nav-list a {
        font-size: var(--text-l);
    }

    .footer__nav-list li {
        padding: 10px;
    }

    .footer__brand {
        font-size: var(--text-xl);
        padding-bottom: 20px;
    }


    /* Index page */
    .index__text-primary {
        font-size: var(--text-xxl);
        line-height: var(--text-xxl);
        padding: 20px 16px;
        box-sizing: border-box;
        min-height: 50vh;
        height: fit-content;
        background-size: cover;
    }

    .index__text-secondary {
        flex-direction: column;
        padding: 20px 16px;
        align-items: center;
        justify-content: center;
    }

    .index__text-secondary p {
        max-width: 100%;
        padding: 0;
    }

    .index__buttons {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        margin: 0 16px;
    }

    .index__buttons .btn {
        width: 50%;
        margin: 0;
    }

    .index__buttons .btn:first-child {
        margin-right: 10px;
    }

    .index__buttons .btn:last-child {
        margin-left: 10px;
    }


    /* Contact */
    .contact__main {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, minmax(12.5vh, min-content));
        margin: 20px 0;
    }

    .contact__title {
        grid-column: 1/span 4;
    }

    .contact__image {
        grid-column: 1/span 4;
        grid-row: 2/span 2;
        width: 100%;
        border-radius: 0;
        object-fit: cover;
    }

    .contact__text {
        font-size: var(--text-l);
        margin: 0 16px;
    }

    .contact__text-1 {
        grid-column: 1/span 4;
        grid-row: 2/span 2;
        z-index: 2;
        flex-direction: column;
        justify-content: center;

        max-width: 100%;
        text-align: center;
        font-size: var(--text-xl);

        background: none;
        color: var(--white);
        text-shadow: -1px -1px 0 var(--black),
        1px -1px 0 var(--black),
        -1px 1px 0 var(--black),
        1px 1px 0 var(--black);
    }

    .contact__text-2 {
        grid-column: 1/span 4;
        grid-row: 4/span 2;
    }

    .contact__text-3 {
        grid-column: 1/span 4;
        grid-row: 6;
    }

    .contact__text-3 p {
        font-size: var(--text-m);
    }


    /* Register & login */
    .register__main {
        margin: 20px 16px;
    }

    .register__field-label {
        padding: 0 0 25px;
        box-sizing: border-box;
    }

    .register__footer {
        max-width: 100%;
    }


    /* Character/film list */
    .list__main-grid {
        margin: 20px 16px;
        grid-template-columns: 1fr;
    }

    .list__article-character {
        height: 12.5vh;
    }

    .list__article-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .list__main {
        padding: 20px 16px;
        box-sizing: border-box;
    }

    .list__row {
        flex-direction: column;
    }

    .list__row .list__article {
        width: 100%;
        margin: 10px 0;
    }


    /* Home */

    .home__main-grid {
        margin: 20px 16px;
        grid-template-columns: minmax(0, 100vw);
        grid-auto-rows: minmax(0, min-content);
    }

    .home__quote-secondary {
        grid-column: 1/span 1;
    }

    .home__highlight {
        grid-column: 1/span 1;
    }

    .home__qotd {
        grid-column: 1/span 1;
    }

    .home__article-full-width {
        grid-template-rows: minmax(28vh, min-content);
    }


    /* Character/film detail */
    .detail__main {
        margin: 0;
        padding: 20px 0;
        grid-template-columns: minmax(0, 1fr);
    }

    .detail__data {
        border-radius: 0;
    }

    .detail__items {
        grid-column: 1;
        padding: 0 20px;
    }

    .detail__items-title {
        text-align: center;
    }

    .detail__item {
        width: 100%;
    }

}
