@import "main.css";

.register__title {
    padding-top: 10px;
}

.register__main {
    margin: 20px 25%;
}

.register__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 55px 0 45px 0;
}

.register__field-label {
    display: flex;
    flex-direction: column;
    padding: 20px 16.67%;
    width: 100%;
    box-sizing: border-box;
}

.register__field {
    margin-top: 5px;
    height: 48px;
    box-sizing: border-box;
    padding: 10px;

    border-radius: 5px;
    border: none;
    font-size: var(--text-l);

    background-color: var(--white);
    color: var(--black);
}

.register__disclaimer {
    max-width: 33%;
    margin: 0 auto;
}

.register__disclaimer a {
    text-decoration: underline;
}

.register__btn {
    margin-top: 48px;
}