.bg-green-dark {
    background-color: var(--dark-primary);
}

/* Variables */
:root {

    /* Colors */
    --dark-primary: #1b5f34;
    --medium-primary: #b0d2bf;
    --light-primary: #c7f9cc;
    --dark-secondary: #1b445f;
    --medium-secondary: #4d7a96;
    --light-secondary: #c4e9e7;
    --accent: #decd31;
    --white: #f7f7f7;
    --black: #141414;

    /* Index page text color --allows further customization of dark mode */
    --index-secondary-text: #1b5f34;

    /* Text sizes */
    --text-xxl: 3rem;
    --text-xl: 2rem;
    --text-l: 1.5rem;
    --text-m: 1rem;
}


/* Dark mode variables */
:root[data-theme='dark'] {
    --dark-primary: #1b445f;
    --medium-primary: #4d7a96;
    --light-primary: #c4e9e7;
    --dark-secondary: #1b5f34;
    --medium-secondary: #b0d2bf;
    --light-secondary: #c7f9cc;
    --index-secondary-text: #c4e9e7;
}


/* Color classes */
.bg-green-medium {
    background-color: var(--medium-primary);
}

.bg-green-light {
    background-color: var(--light-primary);
}

.bg-blue-dark {
    background-color: var(--dark-secondary);
}

.bg-blue-medium {
    background-color: var(--medium-secondary);
}

.bg-blue-light {
    background-color: var(--light-secondary);
}

.bg-gold {
    background-color: var(--accent);
}

.bg-white {
    background-color: var(--white);
}

.bg-black {
    background-color: var(--black);
}

.text-green-dark {
    color: var(--dark-primary);
}

.text-green-medium {
    color: var(--medium-primary);
}

.text-green-light {
    color: var(--light-primary);
}

.text-blue-dark {
    color: var(--dark-secondary);
}

.text-blue-medium {
    color: var(--medium-secondary);
}

.text-blue-light {
    color: var(--light-secondary);
}

.text-gold {
    color: var(--accent);
}

.text-white {
    color: var(--white);
}

.text-black {
    color: var(--black);
}


/* Text-related classes */
.text-xxl {
    font-size: var(--text-xxl);
}

.text-xl {
    font-size: var(--text-xl);
}

.text-l {
    font-size: var(--text-l);
}

.text-m {
    font-size: var(--text-m);
}

.text-align-center {
    text-align: center;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

/* Component classes */
.btn {
    font-family: First Order Plain, fantasy;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 21px;

    text-decoration: none;
    margin: 0 20px;
    height: 48px;
    width: 33%;
    max-width: 169px;

    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:active {
    border-bottom: none;
    transform: translate(0, 5px);
    filter: none;
    transition: filter 0.1s ease, transform 0.1s ease;
}

.btn-dark {
    filter: drop-shadow(0px 4px 0px var(--dark-secondary));
    background-color: var(--dark-primary);
    color: var(--light-primary);
}

.btn-light {
    filter: drop-shadow(0px 4px 0px var(--medium-secondary));
    background-color: var(--light-primary);
    color: var(--dark-primary);
}

.card {
    background-color: var(--dark-primary);
    color: var(--light-primary);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}
